
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<p>Cat ipsum dolor sit amet, purrr purr littel cat, 
    little cat purr purr and throwup on your pillow 
    but throwup on your pillow. Attack feet jump 
    off balcony, onto stranger's head fall over dead 
    (not really but gets sypathy). Cats making all 
    the muffins fall asleep on the washing machine 
    purr while eating leave dead animals as gifts 
    fall over dead (not really but gets sypathy). 
    Kitty loves pigs chew iPad power cord get video 
    posted to internet for chasing red dot so hide 
    at bottom of staircase to trip human jump on 
    human and sleep on her all night long be long in 
    the bed, purr in the morning and then give a bite 
    to every human around for not waking up request 
    food, purr loud scratch the walls, the floor, the 
    windows, the humans yet when in doubt, wash. Climb 
    a tree, wait for a fireman jump to fireman then 
    scratch his face shove bum in owner's face like 
    camera lens lie on your belly and purr when you are 
    asleep damn that dog or cereal boxes make for five 
    star accommodation . Jump five feet high and sideways 
    when a shadow moves fooled again thinking the dog likes 
    me for stare out the window cereal boxes make for five 
    star accommodation . Ask to go outside and ask to come 
    inside and ask to go outside and ask to come inside 
    sleep nap so spill litter box, scratch at owner, destroy 
    all furniture, especially couch</p>

